{% extends 'layout.html.twig' %}

{% block title %}{{ 'confirm'|trans }}{% endblock %}

{% block body %}

    <div id="banner">
        <div id="banner-item" class="text-center">

            <div class="div-top">
                <span class="cta-title">
                    {{ 'confirm'|trans }}, {{ payment.amount }} {{ payment.currency.title }} (Fee: {{ payment.fee }} {{ payment.currency.title }})
                </span>
            </div>
            <div class="div-bottom">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4 paddingBottomMiddle gray_text">

                        {% form_theme form 'form/form_errors.html.twig' %}

                        {% for flash in app.session.flashBag.get('code_error') %}
                            <div class="text-center red-color small bold">{{ flash|trans }}</div>
                        {% endfor %}

                        {{ form_start(form, {'action': path('confirm_payment', {'transactionId' : transactionId}) }) }}

                        <div class="paddingTopSmall input_row">
                            <label class="input_check_label">{{ 'enter_code'|trans }}</label>
                            {{ form_row(form.code, {'attr': {'class': 'input_with_label'}}) }}
                        </div>

                        <div class="text-center">
                            {{ form_row(form.submit, {'attr': {'class' : 'button_next'} }) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
