{% extends 'layout.html.twig' %}

{% block title %}{{ 'success_confirm'|trans }}{% endblock %}

{% block body %}

    <div id="banner">
        <div id="banner-item" class="text-center">

            <div class="div-top">
                <span class="cta-title">{{ 'success_confirmed'|trans }}</span>
            </div>
            <div class="div-bottom">
                <p>{{ 'success_confirm_msg'|trans }}</p>
                <a href="{{ path('payments') }}">{{ 'payments'|trans }}</a>
            </div>

        </div>
    </div>

{% endblock %}
