{% extends 'layout.html.twig' %}

{% block title %}{{ 'withdraw'|trans }}{% endblock %}

{% block body %}

    <div id="banner">
        <div id="banner-item" class="text-center">

            <div class="div-top">
                <span class="cta-title">{{ 'withdraw'|trans }}, {{ balance.currency.title }} - {{ balance.amount }}</span>
            </div>
            <div class="div-bottom">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4 paddingBottomMiddle gray_text">

                        {% form_theme form 'form/form_errors.html.twig' %}

                        {% for flash in app.session.flashBag.get('withdraw_error') %}
                            <div class="text-center red-color small bold">{{ flash|trans }}</div>
                        {% else %}
                            <div class="text-center small">{{ 'all_fields'|trans }}</div>
                        {% endfor %}

                        {{ form_start(form, {'action': path('withdraw', {'currency' : balance.currency.title}) }) }}

                        <div class="paddingTopSmall input_row">
                            <label class="input_check_label">{{ 'receiver_account'|trans }}</label>
                            {{ form_row(form.receiverAccount, {'attr': {'class': 'input_with_label'}}) }}
                        </div>

                        <div class="paddingTopSmall input_row">
                            <label class="input_check_label">{{ 'receiver_name'|trans }}</label>
                            {{ form_row(form.receiverName, {'attr': {'class': 'input_with_label'}}) }}
                        </div>

                        <div class="paddingTopSmall input_row">
                            <label class="input_check_label">{{ 'amount'|trans }}</label>
                            {{ form_row(form.amount, {'attr': {'class': 'input_with_label'}}) }}
                        </div>

                        <div class="paddingTopSmall input_row">
                            <label class="input_check_label">{{ 'details'|trans }}</label>
                            {{ form_row(form.details, {'attr': {'class': 'input_with_label'}}) }}
                        </div>

                        <div class="text-center">
                            {{ form_row(form.submit, {'attr': {'class' : 'button_next'} }) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
