{% extends 'layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}

    <div id="banner">
        <div id="banner-item" class="text-center">

            <div class="div-top">
                <span class="cta-title">{{ 'welcome'|trans }}</span>
            </div>
            <div class="div-bottom">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="{{ path('balance') }}">{{ 'balance_message'|trans }}</a>
                {% else %}
                    <a href="{{ path('login') }}">{{ 'login_message'|trans }}</a>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
