body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #F7F8FA;
    min-width: 350px;
    color: #000000;
}

h1
{
	font-size: 36px;
}

.green-color {
    color: #4B8B20;
}

.yellow-color {
    color: #ff9600;
}

.red-color {
    color: #EB0000;
}

.bgcolor {
    background-color: #F7F8FA !important;
}

.text {
    font-weight: 300;
    font-size: 14px;
}

#banner
{
    background-color: #F7F8FA;
    background-size: cover;
    min-height: 500px;
    /*padding-top: 70px;*/
    height: 100%;
}

#banner-item {
    height: 100%; padding-top: 100px;
    background-color: #FFF;
}

#banner-item-sub {
    height: 100%; padding-top: 132px;
}

.line_map {
    padding-bottom: 30px;
}

.button_copy {
    font-size: 10px;
    border: none;
    padding: 4px 4px 4px 4px;
    color: #000;
    width: 150px;
    margin-top: -15px;
    background-color: #fff;
}

.button_copy_gray {
    width: 120px;
    height: 22px;
    color: #6E6E6E;
    background-color: #F7F8FA;
    border-radius: 24px;
    margin: 0;
    border: 1px solid #E0E0E0;
    text-decoration: none;
    font-size: 10px;
}

.line_map span {
    border: 1px solid #CFD0D1;
    padding: 4px 9px;
    border-radius: 50%;
    color: #CFD0D1;
}

#active_map {
    border-color: #636364;
    color: #000;
    font-weight: bold;
}

.active_map {
    border-color: #636364;
    color: #000;
    font-weight: bold;
}

.first_map_line {
    width: 33%;
    float: left;
}

.second_map_line {
    width: 33%;
    float: left;
}

.third_map_line {
    width: 34%;
    float: left;
}

.fa-arrow-right {
    width: 16px;
    height: 16px;
    margin: 0 76px;
}
.fa, .fas {
    font-weight: 900;
    font-family: FontAwesome;
}
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-left {
    clear: left;
}

.clear-both {
    clear: both;
}

#photo-1, #photo-2, #photo-3, #photo-1-success, #photo-2-success, #photo-3-success {
    margin-top: -8px;
}

.non-display {
    display: none;
}

.div_iban {
    width: 100%;
    height: 48px;
    margin-top: 24px;
    border: none;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.02);
    -moz-box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.02);
    box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.02);
    padding-left: 16px;
    background-color: #FFF;
    padding-top: 15px;
}

.history-success-color {
    color: #000000;
    opacity: 0.6;
}

.button_iban_remove {
    background-color: #FFF;
    color: #000000;
    border: 0;
    font-weight: bold;
}

.input_row {
    padding-left: 25px;
    padding-right: 25px;
}

input {
    width: 100%;
    height: 48px;
    margin-top: 24px;
    border: none;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.02);
    -moz-box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.02);
    box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.02);
    padding-left: 2px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.target {
    padding-left: 0;
    width: 100%;
    font-size: 10px;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 1.2px;
}

.target_label {
    opacity: 0.3;
}

.status_label {
    font-size: 18px;
}

.image_label {
    font-size: 10px;
    padding: 5px;
    font-weight: 700;
}

.box {
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    /*margin-left: 40px;*/
    /*margin-right: 40px;*/
}

.box + .box {
    margin-top: 2.5rem;
}

.input_with_label {
    width: 100%;
    height: 48px;
    margin-top: 4px;
    border: none;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.02);
    -moz-box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.02);
    box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.02);
    padding-left: 16px;
    font-size: 16px;
    color: black;
}

.input_disabled {
    width: 100%;
    height: 48px;
    margin-top: 24px;
    border: none;
    padding-left: 16px;
    background-color: #F7F8FA;
}

.input_check_label {
    height: 10px;
    font-size: 10px;
    margin-left: 0;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 1.2px;
    opacity: 0.3;
}

.input_check {
    width: 100%;
    height: 32px;
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(112, 112, 112, 0.1);
    background-color: transparent;
    font-size: 14px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.currency_amount {
    width: 300px;
    height: 72px;
    margin-top: 12px;
    margin-bottom: 32px;
    font-size: 48px;
    text-align: center;
    border: none;
    -webkit-box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.04);
    box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.04);
}

.currencies_choose {
    text-align: center;
    margin: 8px 0 0 1px;
    font-size: 48px;
    width: 160px;
    height: 70px;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    background-color: #F7F8FA;
}

#kyc_id_dateOfBirth_year, #kyc_id_dateOfBirth_month, #kyc_id_dateOfBirth_day,
#kyc_id_idDateOfIssue_year, #kyc_id_idDateOfIssue_month, #kyc_id_idDateOfIssue_day,
#kyc_id_idDateOfExpirity_year, #kyc_id_idDateOfExpirity_month, #kyc_id_idDateOfExpirity_day {
    text-align: left;
    font-size: 16px;
    width: auto;
    height: 48px;
    margin-top: 4px;
    margin-right: 8px;
    padding: 0 4px 0 4px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
}

.choose {
    text-align: left;
    font-size: 16px;
    width: 100%;
    height: 48px;
    margin-top: 4px;
    padding: 8px 2px 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
}

.button_next {
    width: 300px;
    height: 48px;
    color: #FFF;
    background-image: linear-gradient(#545454, #000000);
    border-radius: 24px;
    margin: 22px 0 0px 0;
    border: none;
    text-decoration: none;
}

.button_social {
    width: 130px;
    height: 48px;
    color: #FFF;
    background-image: linear-gradient(#545454, #000000);
    border-radius: 24px;
    margin: 14px 0 0px 0;
    border: none;
    text-decoration: none;
}

.button_gray {
    width: 300px;
    height: 48px;
    color: #6E6E6E;
    background-color: #F7F8FA;
    border-radius: 24px;
    margin: 22px 0 0px 0;
    border: 1px solid #E0E0E0;
    text-decoration: none;
}

.button_more {
    width: 164px;
    height: 32px;
    color: #6E6E6E;
    background-color: #F7F8FA;
    border-radius: 24px;
    margin: 22px 0 0px 0;
    border: 1px solid #E0E0E0;
    text-decoration: none;
}

.button_more_red {
    width: 164px;
    height: 32px;
    color: #EB0000;
    background-color: #F7F8FA;
    border-radius: 24px;
    margin: 22px 0 0px 0;
    border: 1px solid #EB0000;
    text-decoration: none;
}

.button_add_iban {
    width: 60px;
    height: 32px;
    color: #6E6E6E;
    background-color: #F7F8FA;
    border-radius: 24px;
    margin: 22px 0 0px 0;
    border: 1px solid #E0E0E0;
    text-decoration: none;
}

#preview_cryptoValue {
    padding-top: 10px;
    font-size: 14px;
    color: #606573;
    opacity: 0.6;
}

.history-title {
    font-size: 12px;
    color: black;
    opacity: 0.3;
}

.history-item {
    font-size: 14px;
    color: black;
    opacity: 0.8;
}

input, select {
    vertical-align: middle;
}

.cta-title {
    font-size: 20px;
}

.main-navigation
{
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.04);
}

.navbar-default {
    background-color: #fff;
    border-color: rgba(231, 231, 231, 0.33);
    /*padding: 10px 0px;*/
    color: #000000;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #fff;
    color: #000000;
    padding: 13px 0px;
}
.navbar-nav {
    padding-top: 10px;
}

.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
	border-bottom: 2px solid #000000;
    outline: none;
    color: #000000;
}
.navbar {
	min-height: inherit;
	margin-bottom: 0px;
}
.navbar-brand {
	height: inherit;
    font-family: 'Roboto', sans-serif;
	font-weight: 700;
	padding: 5px;
    font-size: 22px;
    margin-top: 5px;
}

.navbar-default .navbar-brand {
    margin-top: 15px;
    color: #000000;
}

.navbar-default .navbar-nav > li > a {
    color: #A8A8A8;
	/*font-weight: 600;*/
	/*text-transform: uppercase;*/
	margin: 0px 20px;
    padding: 13px 0px;
	font-size: 14px;
    border-bottom: 2px solid #fff;
}
.nav > li > a
{
	padding: 0px;
}

.bold
{
    font-weight: bold;
}

#iban_error {
    display: none;
    margin-top: 20px
}

.container .container-fluid {
    padding-right: 60px;
    padding-left: 0px;
}

.div-top {
    height: 50%;
    background-color:#FFF;
    padding-bottom: 60px;
    padding-top: 30px;
}

.div-bottom {
    height: 50%;
    background-color:#F7F8FA;
    padding-top: 40px;
    padding-bottom: 68px;
}

.paddingTopMicro {
    padding-top: 5px;
}

.paddingTopSmall {
    padding-top: 10px;
}

.paddingTopMiddle {
    padding-top: 20px;
}

.paddingBottomMiddle {
    padding-bottom: 20px;
}

.paddingZero {
    padding: 0;
}

.row {
    padding: 0 10px 0 10px;
}

.forgot_password {
    font-size: 12px;
    color: #A8A8A8;
}

.gray_text {
    font-size: 14px;
    color: #606573;
    opacity: 0.8;
}

label {
    font-weight: normal;
}

.div_social {
    width: 360px;
    margin: 0 auto;
}

.payment_div1 {
    width: 13%;
    float: left;
    border-bottom: 1px solid #E0E0E0;
}

.payment_div2 {
    width: 7%;
    float: left;
    border-bottom: 1px solid #E0E0E0;
}

.payment_div3 {
    width: 16%;
    float: left;
    border-bottom: 1px solid #E0E0E0;
}

.order_history {
    width: 100%;
    padding: 12px;
    font-size: medium;
}

.order_history_div1 {
    width: 30%;
    float: left;
    border-bottom: 1px solid #E0E0E0;
}

.order_history_div2 {
    width: 20%;
    float: left;
    border-bottom: 1px solid #E0E0E0;
}

.order_history_div3 {
    width: 35%;
    float: left;
    border-bottom: 1px solid #E0E0E0;
}

.order_history_div4 {
    width: 15%;
    float: left;
    border-bottom: 1px solid #E0E0E0;
}

.order_tab1 {
    width: 40%;
    float: left;
    padding-left: 10px;
}

.order_tab2 {
    width: 55%;
    float: left;
}

.small {
    font-size: 12px;
}

.trans {
    width: 100%;
    padding: 10px;
    font-size: 12px;
}

.silver_text {
    font-size: 12px;
    color: #000000;
    opacity: 0.3;
}

.silver_text_small {
    font-size: 10px;
    color: #000000;
    opacity: 0.3;
}

.trans_div1 {
    width: 50%;
    float: left;
    border-bottom: 1px solid #E0E0E0;
}
.trans_div2 {
    width: 25%;
    float: left;
    border-bottom: 1px solid #E0E0E0;

}
.trans_div3 {
    width: 25%;
    float: right;
    border-bottom: 1px solid #E0E0E0;
    text-align: right;
}

.qrcode {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.crypto_address {
    overflow-wrap: break-word;
    font-size: 12px;
    width: 150px;
}

.no_border {
    border: 0;
}

.order_zone1 {
    width: 45%;
    float: left;
}

.order_zone2 {
    float: left;
    width: 15%;
    padding-top: 36px;
}

.order_zone3 {
    float: right;
    width:30%;
}

.order_zone1_sub1 {
    width: 95px;
    float: left;
}

.order_zone1_sub2 {
    float: left;
    padding-top: 38px;
}

.order_zone3_sub1 {
    width: 70px;
    float: left;
}

.order_zone3_sub2 {
    float: left;
    padding-top: 38px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
    color: #000000;
    opacity: 0.3;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
    color: #000000;
    opacity: 0.3;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
    color: #000000;
    opacity: 0.3;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 14px;
    color: #000000;
    opacity: 0.3;
}


@media (min-width: 1px) and (max-width: 990px) {
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li > a {
        text-align: center;
        border: 0px;
    }

    .navbar-default .navbar-nav > li > a:hover {
        border: 0px;
    }

    .navbar-brand {
        padding-left: 20px;
        font-size: 20px;
    }
}

@media (min-width: 1px) and (max-width: 460px) {

    .navbar-brand {
        padding-left: 20px;
        padding-top: 10px;
        font-size: 20px;
    }

    .order_history {
        width: 100%;
        padding: 10px;
        font-size: 10px;
    }
    .trans {
        width: 100%;
        padding: 10px;
        font-size: 10px;
    }

    .order_tab1 {
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }

    .order_tab2 {
        width: 100%;
    }

    .crypto_address {
        font-size: 10px;
        width: 100%;
    }

    .navbar-default .navbar-brand {
        color: #000000;
        margin-top: 5px;
    }

    .button_next {
        width: 280px;
        height: 48px;
        color: #FFF;
        background-image: linear-gradient(#545454, #000000);
        border-radius: 24px;
        margin: 22px 0 0px 0;
        border: none;
        text-decoration: none;
    }

    .button_gray {
        width: 280px;
        height: 48px;
        color: #6E6E6E;
        background-color: #F7F8FA;
        border-radius: 24px;
        margin: 22px 0 0 0;
        border: 1px solid #E0E0E0;
        text-decoration: none;
    }

    .button_copy {
        font-size: 10px;
        border: none;
        padding: 4px 4px 4px 4px;
        color: #000;
        margin-top: -15px;
        background-color: #fff;
    }

    .div-top {
        height: 50%;
        background-color:#FFF;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .currency_amount {
        width: 280px;
        height: 72px;
        margin-top: 12px;
        margin-bottom: 32px;
        font-size: 48px;
        text-align: center;
        border: none;
        -webkit-box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.04);
        -moz-box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.04);
        box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.04);
    }

    .div-bottom {
        height: 50%;
        background-color:#F7F8FA;
        padding-top: 40px;
        padding-bottom: 68px;
    }

    .input_row {
        padding-left: 0;
        padding-right: 0;
    }

    .div_social {
        width: 290px;
        margin: 0 auto;
    }

    .order_zone1 {
        width: 48%;
        float: left;
    }

    .history-title {
        font-size: 10px;
        color: black;
        opacity: 0.3;
    }

    .history-item {
        font-size: 12px;
        color: black;
        opacity: 0.8;
    }

    .trans_div1 {
        width: 50%;
        float: left;
        border-bottom: 1px solid #E0E0E0;
        padding-right: 5px;
    }
    .trans_div2 {
        width: 20%;
        float: left;
        border-bottom: 1px solid #E0E0E0;
    }
    .trans_div3 {
        width: 30%;
        float: right;
        border-bottom: 1px solid #E0E0E0;
        text-align: right;
    }
    .silver_text {
        font-size: 10px;
        color: #000000;
        opacity: 0.3;
    }

    .input_check {
        width: 100%;
        height: 32px;
        display: flex;
        flex-direction: column;
        margin: 0 0 20px 0;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid rgba(112, 112, 112, 0.1);
        background-color: transparent;
        font-size: 12px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

