{% extends 'layout.html.twig' %}

{% block title %}{{ 'balance'|trans }}{% endblock %}

{% block body %}
    <div id="banner">
        <div id="banner-item" class="text-center">

            <div class="div-top">
                <span class="cta-title">{{ 'balance'|trans }}</span>
            </div>
            <div class="div-bottom">
                {% for balance in balances %}
                    <div class="paddingBottomMiddle">
                        <span class="paddingTopSmall">{{ balance.currency.title }} - {{ balance.amount }}</span>
                        <div class="text-center">
                            <form action="{{ path('withdraw', {'currency': balance.currency.title }) }}" method="GET">
                                <input class="button_gray" type="submit" id="_submit" name="_submit" value="{{ 'withdraw'|trans }}" />
                            </form>
                        </div>
                    </div>
                {% else %}
                    {{ 'balance_empty'|trans }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
